<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<h2>All users</h2>
<hr/>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Email</th>
        <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">Id</a></td>
        <td><span th:text="${user.getUserName()}"> Name </span></td>
        <td><span th:text="${user.getUserEmail()}"> Email </span></td>
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a>
            <a th:href="@{/users/{id}/delete(id=${user.getId()})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<a href="/users/new">Add new user</a>
</body>
</html>